<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnetfeed.aspnet-extensions"  value="https://dotnetfeed.blob.core.windows.net/aspnet-extensions/index.json" />
    <add key="dotnetfeed.aspnet-entityframeworkcore"  value="https://dotnetfeed.blob.core.windows.net/aspnet-entityframeworkcore/index.json" />
    <add key="dotnetfeed.aspnet-aspnetcore-tooling"  value="https://dotnetfeed.blob.core.windows.net/aspnet-aspnetcore-tooling/index.json" />
    <add key="dotnetfeed.dotnet-core"  value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="api.nuget.org"  value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet.myget.aspnetcore-dev"  value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
    <add key="dotnet.myget.aspnetcore-master"  value="https://dotnet.myget.org/F/aspnetcore-master/api/v3/index.json" />
    <add key="dotnet.myget.aspnetcore-tools"  value="https://dotnet.myget.org/F/aspnetcore-tools/api/v3/index.json" />
    <add key="dotnet.myget.blazor-dev"  value="https://dotnet.myget.org/F/blazor-dev/api/v3/index.json" />
    <add key="dotnet.myget.dotnet-core"  value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="dotnet.myget.roslyn-tools"  value="https://dotnet.myget.org/F/roslyn-tools/api/v3/index.json" />
    <add key="dotnet.myget.roslyn"  value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
    <add key="vside.myget.devcore"  value="https://vside.myget.org/F/devcore/api/v3/index.json" />
    <add key="vside.myget.vsmac"  value="https://vside.myget.org/F/vsmac/api/v3/index.json" />
    <add key="vside.myget.vssdk"  value="https://vside.myget.org/F/vssdk/api/v3/index.json" />
  </packageSources>
</configuration>
